/*
Project Name: Blank Template
Client: Your Client
Author: Pertheina Thomas
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container, .benefits_copy {
	max-width: 90%;
 	margin: 0 auto;
 	width: 1024px;
 	height: 700px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
}

h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 800;
}

.tagline {
	font-size: 50px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	margin: 90px 0px 30px;
}

.blognav a{
	font-size: 20px;
	color: #fff;
}

.get_it_now {
	background-color: #f9e42e;
	border: none;
	border-radius: 5px;
	padding: 20px 80px;
	font-weight: 800;
	font-size: 25px;
	color: #033048;
	text-decoration: none;
	align-content: center;
	display: block;
	margin: 0 auto;
}


.benefits {
	background-color: #f0efef;
	padding: 40px 10px;
	font-weight: 300;
}

h3 {
	font-weight: 600;
	font-size: 50px;
	color: #033048;
	padding: 90px 0px 30px 0px;
}

.paragraph {
	font-weight: 300;
	color: #606161;
	font-size: 25px;
	padding-bottom: 50px;
	padding-right: 40%;
}

ul {
	font-size: 27px;
	padding-right: 10%;
	color: #606161;
	padding-left: 10%;
	margin-right: 40%;
}

li {
	list-style-type: disc;
	color: #606161;
	padding: 5px 0px;
}

.testimonial {
	background-image: url('../images/testimonial_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.quote {
	font-weight: 300;
	color: #fff;
	font-size: 40px;
	text-align: center;
	padding: 100px 300px;
	font-style: italic;
}

span {
	font-weight: 600;
	font-style: normal;
}

.sign_up {
	background-color: #f9e42e;
	padding: 40px 0px;
}

.sign_up_now {
	background-color: #033048;
	border: none;
	border-radius: 5px;
	padding: 20px 80px;
	font-weight: 800;
	font-size: 25px;
	color: #fff;
	text-decoration: none;
	align-content: center;
	display: block;
	margin: 0 auto;
}

footer {
	background-color: #121212;
	display: block;
	margin: 0 auto;
}

img {
	display: inline-block;
	padding: 0px 20px;
}

nav {
	width: 1024px;
	margin-left: 568px;
	/*margin 0 auto not working, not sure why?*/
}

h2 {
	color: #f9e42e;
	font-weight: 800;
	font-size: 50px;
	text-align: center;
	padding: 40px;
	}

.copyright {
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 40px 0px;
}












